html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--page-bg);
	color: var(--text-color);
    font-family: var(--font-main);
	font-weight: 700;
}

.container-mob {
	min-width: 320px;
	padding: 0 20px;

	// outline: 1px solid red;
}

h1.heading {
	font-size: 20px;
	font-weight: 700;
	padding: 15px 0 10px;
}

.divider {
	height: 2px;
	background: var(--header-bg);
	opacity: 0.2;
}
