:root {
	--font-family: "SF UI Display", sans-serif;
	--third-family: "Mazzard", sans-serif;

	--page-bg: #f3f7fb;
	--card-bg: #fff;
	--bg-blue: #2557f6;
	--counter-bg: #ffe1e0;
	--counter-color: #f24c41;
	--text-color: #0e0f11;
	--second-text-color: #c3c8cf;
	--third-text-color: #8f959b;
	--fourth-text-color: #111215;
	--accent-color-dark: rgb(224, 179, 48); /* #E0B330 */
  --accent-color-light: rgb(251, 238, 136); /* #FBEE88 */
}