:root {
	--font-main: "SF UI Display", sans-serif;
	--font-second: "Mazzard", sans-serif;
	// --font-weight-regular: 400;
	// --font-weight-medium: 500;
	// --font-weight-semibold: 600;
	// --font-weight-bold: 700;

	--page-bg: #fff;
	--header-bg: #9564aa;
	--text-color: #000;
	--accent-color: #ffcf2d;
	--fuchsia-color: #c15ca1;
}