.mobile-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    height: 14px;
    width: 23px; 
    margin-left: 7px; 
	color: var(--page-bg);
}

.nav-icon {
    position: relative;
    width: 23px; 
    height: 2px; 
    background-color: var(--page-bg);
    border-radius: 4px;
    margin-left: -7px; 
}

.nav-icon::before,
.nav-icon::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    width: 23px; 
    height: 2px; 
    border-radius: 4px;
    background-color: var(--page-bg);
    transition: transform 0.2s ease-in, top 0.2s linear;
}

.nav-icon::before {
    top: -6px;
}

.nav-icon::after {
    top: 6px; 
}

.nav-icon.nav-icon--active {
	background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in;
}

.nav-icon.nav-icon--active::before {
	transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
	transform: rotate(-45deg);
}

// @media (max-width: 1000px) {
// 	.mobile-nav-btn {
// 		display: block;
// 	}
// }