.tariffs__title {
    text-align: center;
    padding: 24px 0 6px;
}

.tariffs__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.card__base-outer {
    border-radius: 12px 12px 0 0;
    padding: 6px 10px;
    background: linear-gradient(
        to bottom,
        rgba(251, 238, 136, 1) 0%,
        rgba(224, 179, 48, 1) 100%
    );
}

.base-outer {
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    color: var(--card-bg);
}

.card__heading {
    text-align: center;
}

.card__icon[aria-label] {
    display: inline-block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 16px;
}

.icon__base {
    background-image: url(../img/base.svg);
}

.icon__percent {
    background-image: url(../img/percent.svg);
}

.icon__consult {
    background-image: url(../img/consult.svg);
}

.card__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 120%;
    padding-bottom: 4px;
}

.card__subtitle {
    color: var(--third-text-color);
    margin-bottom: 16px;
}

.card {
    width: 100%;
    border-radius: 20px;
    padding: 24px;
    background-color: var(--card-bg);
    margin-bottom: 12px;
}

.card__base {
    padding: 3px;
    background: linear-gradient(
        to bottom,
        rgba(224, 179, 48, 1) 0%,
        rgba(251, 238, 136, 1) 51%,
        rgba(224, 179, 48, 1) 100%
    );
    
}

.card__base-inner {
    border-radius: 17px; 
    background-color: var(--card-bg);
    padding: 21px;
    margin-bottom: 0;
}

.card-item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.counter {
    position: absolute;
    display: inline-block;
    top: -154px;
    left: -6px;
    border-radius: 717px;
    padding: 5px 8px 5px 20px;
    background: var(--counter-bg);
    z-index: 10;
}

.counter-item {
    position: relative;
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
    text-align: center;
    align-items: center;
    color: var(--counter-color);
}

.counter-item::before {
    content: "";
    position: absolute;
    top: 1px;
    left: -14px;
    width: 11px;
    height: 11px;
    background-image: url(../img/clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card__pay {
    position: relative;
    width: 100%;
    border-radius: 16px;
    padding: 20px 16px 16px;
    margin: 0 24px 4px;
}

.card__pay-base {
    position: relative;
    background: linear-gradient(
        to bottom,
        rgba(224, 179, 48, 1) 0%,
        rgba(251, 238, 136, 1) 51.1%,
        rgba(224, 179, 48, 1) 100%
    );
    color: var(--card-bg);
}

.card__pay-base::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    background-image: url(../img/vector-yellow.svg);
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;
    z-index: 1;
}

.sum {
    position: relative;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 4px;
    z-index: 10;
}

.time {
    position: relative;
    margin-bottom: 16px;
    z-index: 10;
}

.card__pay-simple {
    background: var(--page-bg);
    color: var(--text-color);
}

.time__pay-simple {
    color: var(--fourth-text-color);
}

button.select {
    position: relative;
    width: 100%;
    border-radius: 16px;
    padding: 15px 0;
    background: var(--text-color);
    z-index: 10;
    transition: transform 0.3s ease, opacity 0.3s ease; 
}

button.select-base {
    z-index: 10;
}

.select-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: var(--card-bg);
}

button.select:hover .select-text,
button.select:focus .select-text {
    opacity: 0.6;
}

button.select:focus,
button.select:active {
    transform: scale(0.95);
}

button.select:disabled {
    opacity: 0.6;
    pointer-events: none; 
    // z-index: 10;
}

.unclickable {
    pointer-events: none;
}

.card__pay-second {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    height: 52px;
    border-radius: 12px;
    padding: 0;
}

.debt[aria-label] {
    position: relative;
    width: 260px;
    height: 52px;
    border-top-left-radius: 12px; 
    border-bottom-left-radius: 12px; 
    // background-image: url(../img/card-yellow.png);
    background-image: url(/img/card-yellow.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.guarantee {
    position: relative;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 17px;
    line-height: 110%;
    text-transform: uppercase;
    z-index: 10;
}

.tooltip-question[aria-label] {
    position: relative;
    width: 14px;
    height: 20px;
    padding-right: 36px;
    background-image: url(../img/question.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 10;
    cursor: pointer;
}

.card__pay-second--blue {
    background: var(--bg-blue);
}

.card__pay-second--blue::before {
    background-image: url(../img/vector-blue.svg);
}

.debt--blue[aria-label] {
    // background-image: url(../img/card-blue.png);
    background-image: url(/img/card-blue.png);
    background-position: left;
}

.tooltip-content {
    display: none;
    position: absolute;
    width: 302px;
    height: 76px;
    border-radius: 10px;
    padding: 8px 12px;
    left: 0;
    top: 208px;
    background: var(--text-color);
    font-weight: 500;
    color: var(--card-bg);
    text-align: left;
    z-index: 10;
    opacity: 0; 
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0s 0.3s; 
}

.tooltip-content::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 11px;
    top: -9px;
    left: 268px;
    background-image: url(../img/arrow.svg);
    z-index: 10;
}

.steps-list {
    padding-top: 16px;
}

.steps-list li {
    position: relative;
    padding-left: 20px;
    text-align: left;
}

.steps-list li::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    background-image: url(../img/confirm.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.step-item:not(:last-child) {
    padding-bottom: 8px;
}

.banks-icon {
    display: inline-block;
    width: 45px;
    height: 20px;
    background-image: url(../img/banks.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
}

@import "./media-tariffs";